<div class="file-row row">
  <div class="col-lg-3">
    <p class="name">{{fileObject.file.name}}</p>
    <strong class="error text-danger"></strong>
  </div>
  <div class="col-sm-3">
    <p class="size">{{fileObject.file.size | fileSize}}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">
        <span *ngIf="progress > 0">{{progress}}%</span>
      </div>
    </div>
    <p *ngIf="progress > 0"  class="speed text-center">{{speed | fileSize}}/s</p>
  </div>
  <div class="col-sm-4">
    <button [disabled]="fileObject.status === FileObjectStatus.Uploading" 
    class="btn btn-primary start" (click)="upload()">
              <i class="glyphicon glyphicon-upload"></i>
              <span>Start</span>
    </button>
    <button [disabled]="fileObject.status !== FileObjectStatus.Uploading" 
    class="btn btn-warning cancel" (click)="cancel()">
              <i class="glyphicon glyphicon-ban-circle"></i>
              <span>Cancel</span>
    </button>
    <button [disabled]="fileObject.status === FileObjectStatus.Uploading" 
    class="btn btn-danger delete" (click)="delete()">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
    </button>
  </div>
</div>