hr {
    margin-bottom: 9px;
    border-color: green;
}

footer {
    padding: 10px 0;
    text-align: center;
}

.footerlink {
    padding: 4px;
    color: #7d7676;
}

.footerlink, a:link {
    text-decoration: none;
}
