html,
body {
    height: 100%;
}

#actions {
    margin: 2em 0;
}


/* The total progress gets shown by event listeners */

#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.uploads {
    margin: 10px;
}

.uploads label.file-input-btn {
    margin: 0;
}

#inputFiles {
    position: absolute;
    top: -30px;
    right: -30px;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}