// .uploads {
//     margin: 10px;
//     margin-top: 20px; 
// }

// .uploads label.file-input-btn {
//     margin: 0;
// }

// #inputFiles {
//     position: absolute;
//     top: -300px;
//     right: -300px;
//     margin: 0;
//     opacity: 0;
//     filter: alpha(opacity=0);
//     font-size: 23px;
//     direction: ltr;
//     cursor: pointer;
// }

// .uploads {
//     .buttons {
//         float: left;
//     }
// }

// .links a h4 {
//     display: inline-block;
// }

// .links a {
//     margin-right: 10px;
// }

// .links a:last-child{
//     margin-right: 0px;
// }

.upload {
    button {
        margin-left: 5px;
    }
}
.section-title {
    margin-bottom: 50px
}

.file-input-btn {
    margin-bottom: 0
}

.upload {
    .previews {
        margin: 0 10px
    }
}