.uploads {
    margin: 10px;
}

.uploads label.file-input-btn {
    margin: 0;
}

#inputFiles {
    position: absolute;
    top: -300px;
    right: -300px;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.uploads {
    .buttons {
        float: left;
    }
    .links {
        float: right;
    }
}

.files {
    clear: both;
}